<%- include ../partials/header.ejs %>
<%- include ../partials/navigation.ejs %>

<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-14 bottomPad">
            <%- include ../partials/title.ejs %>
            <br />
                  
            <a class="btn btn-light btn-outline-dark" href="/surveys/add">
                    <i class="fas fa-plus-circle"></i> Create New Survey 
                </a> <br><br>

                <table class="table" id="survey-list">
                    <thead>
                <!-- Table containing survey list -->
                        <tr class="survey-header">
                            <th class="text-center col-1"><h5>Survey #</h5></th>
                            <th class="text-center col-3"><h5>Completed by</h5></th>
                            <th class="text-center col-4"><h5>Survey Name</h5></th>
                            <th class="col-1"><h5></h5></th>
                        </tr>
                    </thead>
                <!-- Repeatable Survey Template Div -->
                <!-- <<TO-DO>> TESTING-->
                <% for(let count = 0; count < CompletedSurvey.length; count++) { %>
                <tr class="survey">
                    <td class="text-center col-1"><h3><span class="circle"><%= count + 1 %></span></td>
                    <td class="text-center col-2"><h3><a><%= CompletedSurvey[count].completedBy %></a></h3></h3></td>
                    <td class="text-center col-2"><h3><a><%= SurveyList[count].name %></a></h3></h3></td>
                    <td class="text-center col-1"><a class="btn btn-light btn-outline-dark" href="">View Result</a></td>
                </tr>
                <% } %>
                
                </table>                
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>

