<%- include ../partials/header.ejs %>

<%- include ../partials/navigation.ejs %>


<!-- Content for the add page-->
<body>
<div class="container" id="addDiv">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1  class="title"><%= title %></h1>
            <form class="form" method="POST">
            <div class="form-group">
                <label for="titleTextField">Survey Title</label><br>
                <input type="text" class="form-class" size="40" id="titleTextField" placeholder="" readonly value=<%= survey.name %> 
                name="title">
            </div><br>

            <div class="form-group">
                <label for="descTextArea">Description</label><br>
                <textarea id="descTextArea" cols="50" rows="5" name="description" placeholder="" readonly ><%= survey.description %></textarea>
            </div><br>

            <% for(let i = 0; i < survey.surveyQuestions.length; i++) { %>
                <div class="form-group">
                    <label for="titleTextField">Question <%= i + 1 %></label><br>
                    <input type="text" class="form-class" size="40" id="titleTextField" placeholder="" readonly value=<%= survey.surveyQuestions[i].title %> 
                        name="title">                
                    <% for(let j = 0; j < survey.surveyQuestions[i].length; j++) { %>
                        <input type="radio" name="question<%= i + 1 %>" value=<%= survey.surveyQuestions[i].options[j] %>>
                    <% } %>
                </div><br>
            <% } %> 
            
            <button class="btn btn-primary blue-btn" type="submit">
                <i class="fas fa-edit"></i> Submit Answers
            </button>
            <a href="/surveys/published" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</a>

        </form>
        </div>
    </div>
</div>
</body>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>