<%- include ../partials/header.ejs %>
<%- include ../partials/navigation.ejs %>

<!-- Main Content -->

<% if (SurveyList.length === 0) { %>
    <div>               
        <h1 class="title fs-3">
            You haven't made any surveys yet click <a href="/surveys/add">Here</a> to get started!
        </h1>
    </div>
<% } else { %>
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-14 bottomPad">
            <div>               
                <h1 class="title">
                    Your Surveys
                </h1>
            </div>
            <br />

            <h6 class="error"><%= errorMessage %></h6>
                  
            <a class="btn btn-light btn-outline-dark" href="/surveys/add">
                    <i class="fas fa-plus-circle"></i> Create New Survey 
                </a> <br><br>

                <table class="table" id="survey-list">
                    <thead>
                <!-- Table containing survey list -->
                        <tr class="survey-header">
                            <th class="text-center col-1"><h5>Survey #</h5></th>
                            <th class="text-center col-3"><h5>Survey Name</h5></th>
                            <th class="text-center col-5"><h5>Description</h5></th>
                            <th class="text-center col-1"><h5>Expires On</h5></th>
                            <th class="text-center col-1"><h5></h5></th>
                            <th class="col-1"><h5></h5></th>
                            <th class="col-1"><h5></h5></th>
                        </tr>
                    </thead>
                <!-- Repeatable Survey Template Div -->
                <!-- <<TO-DO>> ADD EXPIRATION DATE AND NO. OF RESPONSES-->
                <% for(let count = 0; count < SurveyList.length; count++) { %>
                <tr class="survey">
                    <td class="text-center col-1"><h3><span class="circle"><%= count + 1 %></span></td>
                    <td class="text-center col-2"><h3><a><%= SurveyList[count].name %></a></h3></h3></td>
                    <td class="text-center col-5"><p><%= SurveyList[count].description %></p></td>
                    <td class="text-center col-2"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(SurveyList[count].expirationDate) %></td>

                    <% if (loggedUserId.equals(SurveyList[count].createdBy))  { %>
                        <td class="text-center col-1">
                        <a class="btn btn-info btn-outline-dark" href="/surveys/responses/<%=SurveyList[count]._id %>">Responses</a></td>
                        <td class="text-center col-1">
                        <a class="btn btn-light btn-outline-dark" href="/surveys/edit/<%=SurveyList[count]._id %>">Edit</a></td>
                        <td class="text-center col-1">
                        <a class="btn btn-danger" href="/surveys/delete/<%=SurveyList[count]._id %>">Delete</a></td>   
                    <% } else { %>
                        <td class="text-center col-1"></td>
                        <td class="text-center col-1"></td>
                        <td class="text-center col-1"></td>
                    <% } %>
                </tr>
                
                    
                <% } %>
                
                </table>
                
        </div>
    </div>
</main>
<% } %>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>

