<%- include ../partials/header.ejs %>
<%- include ../partials/navigation.ejs %>

<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-14 bottomPad">
            <%- include ../partials/title.ejs %>
            <br />
                  
            <a class="btn btn-light btn-outline-dark" href="/surveys/add">
                    <i class="fas fa-plus-circle"></i> Create New Survey 
                </a> <br><br>

                <table class="table" id="survey-list">
                    <thead>
                <!-- Table containing survey list -->
                        <tr class="survey-header">
                            <th class="survey-number text-center"><h5>Survey #</h5></th>
                            <th class="survey-name text-center"><h5>Survey Name</h5></th>
                            <th class="survey-description text-center"><h5>Description</h5></th>
                            <th class="survey-expiry text-center"><h5>Expires On</h5></th>
                            <th class="survey-responses text-center"><h5>No. of Responses</h5></th>
                        </tr>
                    </thead>
                <!-- Repeatable Survey Template Div -->
                <!-- <<TO-DO>> ADD EXPIRATION DATE AND NO. OF RESPONSES-->
                <% for(let count = 0; count < SurveyList.length; count++) { %>
                <tr class="survey">
                    <td class="survey-number"><h3><span class="circle"><%= count + 1 %></span></td>
                    <td class="survey-name"><h3><a><%= SurveyList[count].title %><a/></h3></h3></td>
                    <td class="survey-description"><p><%= SurveyList[count].description %></p></td>
                    <td class="survey-expiry"><%= SurveyList[count].expirationDate%></td>
                    <td class="survey-expiry"><%= SurveyList[count].expirationDate%></td>
                    <td class="survey-button-edit"><a class="btn btn-light btn-outline-dark" href="/surveys/edit/<%=SurveyList[count]._id %>">Edit</a></td>
                    <td class="survey-button-delete"><a class="btn btn-danger" href="/surveys/delete/<%=SurveyList[count]._id %>">Delete</a></td>   
                </tr>
                
                    
                <% } %>
                
                </table>
                <a href="" class="btn btn-dark btn-outline-light">Surveys Per Page</a>
                
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>

