<%- include ../partials/header.ejs %>

<%- include ../partials/navigation.ejs %>


<% if (completedSurvey == null) { %>
    <div>               
        <h1 class="title fs-3">
            Sorry... Looks like there have been no responses on this survey yet.  Check back later!
        </h1>
    </div>
<% } else { %>
<!-- Content for the add page-->
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1  class="title"><%= title %></h1>
            <form class="form" method="POST">
            <div class="form-group">
                <label for="titleTextField" class="fs-4"><strong>Survey Title - </strong></label>
                <input type="text" class="form-class readonly-textfield fs-5" id="titleTextField" placeholder="" readonly value="<%= completedSurvey.surveyName %>" 
                name="title">
            </div><br>

            <div class="form-group">
                <label for="completedBy" class="fs-4"><strong>Completed By - </strong></label>
                <input id="completedBy" type="text" class="readonly-textfield" name="completedByName" placeholder="" readonly value="<%= completedSurvey.completedByName %>">
            </div><br><br>

            <% for(let i = 0; i < completedSurvey.answers.length; i++) { %>
                <div class="form-group">
                    <label for="titleTextField" class="fs-5"><strong>Question <%= i + 1 %> - </strong></label><br>
                    <textarea class="form-class readonly-textfield textarea-style" id="titleTextField" readonly name="question<%= i + 1 %>"><%= completedSurvey.answers[i].question %></textarea><br><br>                
                        <div class="form-check ms-4">
                         <label for="answerTextField" class="fs-5"><strong>Option Selected -  </strong></label><br>
                            <textarea type="text" id="answerTextField" class="form-answers readonly-textfield textarea-style" readonly name="answer<%= i + 1 %>"><%= completedSurvey.answers[i].answer %></textarea>
                        </div>              
                </div><br>
            <% } %>

           <a href="/surveys/completed" class="btn btn-light btn-outline-dark"><i class="fas fa-arrow-circle-left"></i> Back to Completed Surveys</a> 

        </form>
        </div>
    </div>
</div>
</body>

<% } %>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>