<%- include ../partials/header.ejs %>

<%- include ../partials/navigation.ejs %>


<% if (completedSurvey == null) { %>
    <div>               
        <h1 class="title fs-3">
            Sorry... Looks like there have been no responses on this survey yet.  Check back later!
        </h1>
    </div>
<% } else { %>
<!-- Content for the add page-->
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1  class="title my-5"><%= title %></h1>
            <form class="form" method="POST">
            <div class="form-group">
                <label for="titleTextField" class="fs-4"><strong>Survey Title: </strong></label>
                <h4 class="form-class readonly-textfield fs-4 blue"><%= completedSurvey.surveyName %></h4>
            </div><br>

            <div class="form-group">
                <label for="completedBy" class="fs-4"><strong>Completed By: </strong></label>
                <h4 class="readonly-textfield blue"><%= completedSurvey.completedByName %></h4>
            </div><br><br>

            <% for(let i = 0; i < completedSurvey.answers.length; i++) { %>
                <div class="form-group">
                    <label for="titleTextField" class="fs-5"><strong>Question <%= i + 1 %>: </strong></label><br>
                    <h5 class="form-class readonly-textfield blue"><%= completedSurvey.answers[i].question %></h5><br>                
                        <div class="form-check ms-4">
                         <label for="answerTextField" class="fs-5"><strong>Option Selected: </strong></label>
                            <h6 class="form-answers readonly-textfield blue"><%= completedSurvey.answers[i].answer %></h6>
                        </div>              
                </div><br>
            <% } %>

           <a href="/surveys/completed" class="btn btn-light btn-outline-dark"><i class="fas fa-arrow-circle-left"></i> Back to Completed Surveys</a> 

        </form>
        </div>
    </div> 
</div>
</body>

<% } %>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>