<%- include ../partials/header.ejs %>

<%- include ../partials/navigation.ejs %>


<!-- Content for the add page-->
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1  class="title"><%= title %></h1>
            <form class="form" method="POST">
            <div class="form-group">
                <label for="titleTextField" class="fs-4"><strong>Survey Title - </strong></label>
                <input type="text" class="form-class survey-results fs-5" size="40" id="titleTextField" placeholder="" readonly value="<%= survey.name %>" 
                name="title">
            </div><br>

            <div class="form-group">
                <label for="completedByTextArea" class="fs-4"><strong>Completed By - </strong></label><br>
                <textarea id="completedByTextArea" class="survey-results" cols="50" rows="5" name="completedByName" placeholder="" readonly ><%= completedSurvey.completedByName %></textarea>
            </div>

            <% for(let i = 0; i < survey.surveyQuestions.length; i++) { %>
                <div class="form-group">
                    <label for="titleTextField" class="fs-5"><strong>Question <%= i + 1 %> - </strong></label>
                    <input type="text" class="form-class do-survey-question" size="40" id="titleTextField" placeholder="" value="<%= survey.surveyQuestions[i].title %>" readonly  
                        name="<%= survey.surveyQuestions[i].title %>"><br><br>                
                        <div class="form-check ms-4">
                         <label for="optionTextField" class="fs-5"><strong>Option Selected -  </strong></label>
                            <input type="text" id="answerTextField" class="form-answers" name="question<%= i + 1 %>"  placeholder="" value="<%= completedSurvey.answers[i].answer %>" readonly> 
                        </div>
                    <% } %>
                </div><br>
            <% } %> 

           <a href="/surveys/completedSurvey" class="btn btn-light btn-outline-dark"><i class="fas fa-arrow-circle-left"></i> Back to Completed Surveys</a> 

        </form>
        </div>
    </div>
</div>
</body>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>