<!-- 
    Placeholder for future release 
    This is not currently linked in any route
    So currently no way to navigate to this page until it is finished
-->
<%- include ../partials/header.ejs %>


<%- include ../partials/navigation.ejs %>


<%- include ../partials/title.ejs %>

<!-- Ami Card * Finished -->
        <div class="col">
          <div class="card border-info bg-dark text-info">
            <img src="/assets/images/ami.jpg" class="card-img-top" alt="Ami's picture">
            <div class="card-body">
              <h5 class="card-title text-center">Ami Yogeshbhai Gajjar</h5>              
            </div>
            <div class="text-center">
              <div class="card-body border-info bg-dark text-info">
                  <a href="https://github.com/amigajjarsm" target="_blank" class="card-link">GitHub</a>
                  <a href="https://comp229aaf2.herokuapp.com/home" target="_blank" class="card-link">Heroku</a>
                  <a href="mailto:agajja12@my.centennialcollege.ca" target="_blank" class="card-link">Email</a>
                  <a href="https://www.linkedin.com/in/amigajjar/" target="_blank" class="card-link">LinkedIn</a>
              </div>
          </div>
          </div>
        </div>


<%- include ../partials/bottom_nav.ejs %>


<%- include ../partials/footer.ejs %>

